deepspeed==0.18.3
einx==0.3.0
gluonts==0.16.2
h5py==3.14.0
librosa==0.11.0
linear_attention_transformer==0.19.1
omegaconf==2.3.0
pandas==1.5.3
parse==1.20.2
psutil==7.2.0
pyhealth==1.1.6
pytorch_lightning==2.6.0
PyYAML==6.0.2
tensorboardx==2.6.4
tiktoken==0.12.0
torch==2.5.1
torch_scatter==2.1.2+pt25cu121
torch_sparse==0.6.18+pt25cu121
torchaudio==2.5.1
torchinfo==1.8.0
tqdm==4.67.1
transformers==4.57.3
